body {
  background-color: #FFE08A;
  color: #4B296B;
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}


.book-icon {
  scale: 200%;
}

.input-and-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top:5%;
}

.input-and-search button {
  border: none;
}

.input-and-search input, .input-and-search button {
  padding: 2% 4%;
  border: none;
}

button, .cta {
  background-color: #61dafb;
  font-weight: bold;
  color: #4B296B;
}

.no-results, .book-container {
  background-color: RGB(255, 255, 255, 0.5);
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
}

/* Book Display Area */

.search-results {
  display: flex;
  flex-wrap: wrap;
}

.book-container  {
  width: 30%;
}

.cta {
  text-decoration: none;
  padding: 4% 20%;
  border-radius: 5px;
}


/* Media Queries for smaller screens */

@media (max-width: 480px) {
  
  .book-container {
      width: 100%;
  }
}