@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Prompt:wght@500&family=Signika+Negative:wght@300&display=swap');


/* general styling */

body {
  background: #FBD046;
  background: -webkit-linear-gradient(top left, #FBD046, #EA7D4D);
  background: -moz-linear-gradient(top left, #FBD046, #EA7D4D);
  background: linear-gradient(to bottom right, #FBD046, #EA7D4D);
  color: #4B296B;
  min-height: 100vh;
  font-size: 120%;
}

body,
input[type=text] {
  font-family: 'Signika Negative', sans-serif;
}

header,
form,
.results {
  text-align: center;
}

header {
  margin-top: 20%;
}

h1,
h2,
h3 {
  font-family: 'Prompt', sans-serif;
  margin: 0px;
}


h4,
h5,
h6 {
  font-family: 'Glegoo', serif;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

/* Header */

.book-icon {
  scale: 200%;
}

/* My Bookshelf */

.bookshelf-btn {
  background-color: #4B296B;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  font-size: 1.6rem;
  color: white;
  padding-left: 45px;
  padding-right: 30px;
  border-radius: 5px;
  left: 5px;
  top: 5px;
  position: absolute;
}

.bookshelf-btn::before {
  height: 38px;
  width: 50px;
  left: 6%;
  border-left:20px double rgba(255, 255, 255, 0.805);
  position: absolute;
  content: '';
}

.cta-bookshelf,
.remove-btn {
  text-decoration: none;
  padding: 0 2%;
  border-radius: 5px;
  border:none;
}

.remove-btn {
  font-family: 'Glegoo', serif;
  cursor: pointer;
  background-image: linear-gradient(to right top, #ff2100, #ff6500, #fc9000, #f5b600, #ebd812);
  
}

.remove-btn:hover, .remove-btn:focus {
  background-image: linear-gradient(to right top, #ff2100, #fa4400, #f55900, #f06a03, #eb7912);
  color: white;
  font-weight: bold;
}

/* Bookshelf, form, and results 'button' CTA */
.bookshelf a,
form button,
.cta {
  background: #A7BCEF;
  background: -webkit-linear-gradient(bottom right, #A7BCEF, #42D0FF);
  background: -moz-linear-gradient(bottom right, #A7BCEF, #42D0FF);
  background: linear-gradient(to top left, #A7BCEF, #42D0FF);
  color: #4B296B;
  font-family: 'Glegoo', serif;
  font-weight: bold;
  cursor: pointer;
}

/* Form */

.input-and-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.input-and-search input {
  border: none;
  width: 11rem;
  padding: .5rem .5rem;
}

.input-and-search button {
  padding: .3rem 2rem;
  border: none;
}

form a{
  margin: .5rem 0 2rem 0;
}

form a:hover, form a:focus {
  color: white;
}

/* Book Display */

.no-results,
.book-container, .bookshelf-item {
  background-color: RGB(255, 255, 255, 0.5);
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.book-container {
  width: 30%;
  
}

.book-cover {
  max-height:300px;
  align-self: center;
}

.cta {
  text-decoration: none;
  padding: 4% 20%;
  border-radius: 5px;
}

.book-container button {
  padding: 4% 20%;
  border-radius: 5px;
  border: none;
  color: #4B296B;
  font-family: 'Glegoo', serif;
  font-weight: bold;
  background: rgb(252, 176, 69);
  margin-top: 8px;
  cursor: pointer;
}


.book-container button:hover,
.book-container button:focus {
  background: linear-gradient(90deg, rgba(252, 176, 69, 1) 0%, rgba(252, 250, 163, 1) 50%, rgba(252, 176, 69, 1) 100%);
  animation: shake 2s ease;
}

@keyframes shake {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}


/* Media Queries for smaller screens */

@media (max-width: 800px) {

  .book-container {
    width: 100%;
  }
}