@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Prompt:wght@500&family=Signika+Negative:wght@300&display=swap');


body {
  background-color: #FFE08A;
  color: #4B296B;
  text-align: center;
}

body, input[type=text] {
  font-family: 'Signika Negative', sans-serif;
}

h1, h2, h3  {
  font-family: 'Prompt', sans-serif;
}


h4,
h5,
h6 {
  font-family: 'Glegoo', serif;
}


.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}


.book-icon {
  scale: 200%;
}

.input-and-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: .5rem 0 2rem 0;
}

.input-and-search input {
  border: none;
  width: 11rem;
  padding: .5rem .5rem;
}

.input-and-search button {
  padding: .3rem 2rem;
  border: none;
}

button, .cta {
  background-color: #61dafb;
  color: #4B296B;
  font-family: 'Glegoo', serif;
  font-weight: bold;
}

.no-results, .book-container {
  background-color: RGB(255, 255, 255, 0.5);
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
}

/* Book Display Area */

.search-results {
  display: flex;
  flex-wrap: wrap;
}

.book-container  {
  width: 30%;
}

.cta {
  text-decoration: none;
  padding: 4% 20%;
  border-radius: 5px;
}


/* Media Queries for smaller screens */

@media (max-width: 800px) {

  .book-container {
    width: 100%;
  }
}